<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Details Product</title>
</head>
<body>

<cit-header></cit-header>

<div class="page-wrapper">
    <div class="page-wrapper-middle">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <details-product></details-product>
                </div>
                <div class="row">
                    <upload-image></upload-image>
                    <comment-product></comment-product>
                </div>

            </div>

        </div>
    </div>
</div>

<cit-footer></cit-footer>

</body>
</html>