<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta charset="utf-8"/>
    <title>Manager Product</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/components.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="../../node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="../../node_modules/sweetalert/lib/sweet-alert.css" rel="stylesheet">

    <link href="../../assets/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/default.min.css" rel="stylesheet" type="text/css" id="style_color"/>


</head>
<body>

<cit-header></cit-header>
<cit-content></cit-content>
<cit-footer></cit-footer>

</body>
</html>